[submodule "CoreDSL2TableGen"]
	path = CoreDSL2TableGen
	url = ../coredsl2tablegen.git
	branch = main
[submodule "RISCV-CoreDSL-Extensions"]
	path = RISCV-CoreDSL-Extensions
	url = ../riscv-coredsl-extensions.git
	branch = main
[submodule "llvm"]
	path = llvm
	url = ../llvm.git
	branch = main
